.content {

  .callout {
    background-color: $green-background;
    margin-bottom: 40px;
    margin-top: 35px;
    padding: 15px;
    position: relative;
    width: 100%;

    h3 {
      color: $purple-text;
      padding: 5px 0 0;
    }

    .callout-copy {
      width: 80%;
    }

    .callout-img {
      position: absolute;
      right: 20px;
      top: -80px;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 550px) {
  .content {
    .callout {

    .callout-copy {
      padding-top: 0;
      width: 50%;
    }

    .callout-img {
      top: 14px;
    }
  }
  }
}
