//using a table
table,
thead {
  margin-top: 35px;
  width: 100%;

  tr {

    th {
      background-color: white;
      color: #545454;
      font-family: $helvetica-neue-light;
      font-size: 12px;
      margin-top: 35px;

      &.bank-name {
        padding-bottom: 10px;
        padding-left: 15px;
        text-align: left;
        //width: 45%;
      }

      &.bank-apy {
        padding-bottom: 10px;
        text-align: center;
        //width: 20%;
      }

      &.bank-earnings {
        padding-bottom: 10px;
        padding-right: 15px;
        text-align: right;
      }
    }
  }
}
tr {
  width: 100%;

  &:nth-child(odd) {
    background-color: $dk-green;
  }

  &:nth-child(even) {
    background-color: $lt-green;
  }

  td {
      border: 1px solid #333;
      padding: 12px 0;

      &.bank-name {
        padding-left: 15px;
        text-align: left;
      }

      &.bank-apy {
        text-align: center;
      }

      &.bank-earnings {
        padding-right: 15px;
        text-align: right;
      }
  }
}

tr:nth-child(2) {
  font-family: $helvetica-neue-bold;
}


thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.table-footer {
  text-align: right;

  span.disclaimer {
    display: inline-block;
    font-family: $helvetica-neue-light;
    font-size: 12px;
        padding-right: 15px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
.table-heading span.bank-name {
  width: 35%;
}
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .bank-data-table {
    .table-row {
      font-size: 13px;
    }
  }
}
