form {
  p {
    padding: 10px 0;
    text-align: right;
  }

  label {
    display: inline-block;
    font-family: $helvetica-neue-bold;
    font-size: 14px;
    padding-right: 20px;
    text-align: left;
  }

  input {
    font-family: $helvetica-neue-bold;
    font-size: 14px;

    &[type='text'],
    &[type='password'] {
      background-color: $white;
      border: 1px solid $blue-text;
      padding: .75rem;
      width: 77%;
    }

    &[type='submit'] {
      background-color: $purple-text;
      color: $white;
      cursor: pointer;
      float: right;
      margin-top: 20px;
      padding: .75rem .95rem;
      width: 140px;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  form p {
    text-align: left;
  }

  form label {
    padding-bottom: 5px;
  }

  form input[type='text'], form input[type='password'] {
    width: 100%;
  }
}
