header {
  background-color: $blue-background;
  margin-bottom: 60px;
  overflow: hidden;
}

.container {
  .logo {
    float: left;

    a {
      display: block;
      padding-top: 1px;

      img {
        width: 152px;
      }
    }
  }

  nav.main-navigation {
    float: right;
    margin-right: -15px;

      ul {
        li {
        float: left;
        padding: 5px 15px;
        transition: all .3s;

        &:hover {
          background-color: $dk-blue-background;
          transition: all .3s;
        }

        a {
          color: $white;
          display: block;
          font-family: $helvetica-neue-regular;
          padding: 10px 0;
          text-decoration: none;

          &:hover {
            font-weight: bold;
          }
        }
        }
      }
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  header .container {
    .logo {
      float: none;
      text-align: center;

      a img {
        width: 304px;
      }
    }
    nav.main-navigation {

      ul {
        text-align: center;

        li {
          padding: 5px 2px;
        }
      }
    }
  }
}
