.overlay {
  background-color: $overlay-black;
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .login-modal {
    background-color: $white;
    border: 1px solid $med-black;
    color: $med-black;
    left: 0;
    margin: 0 auto;
    width: 447px;
    padding: 30px;
    position: fixed;
    right: 0;
    top: 120px;
    z-index: 3;

    .login-container {

      h2 {
        font-family: $helvetica-neue-light;
        font-size: 28px;
        padding: 15px 0 30px;
      }
    }

    a.close-modal {
      cursor: pointer;
      height: 30px;
      position: absolute;
      right: 20px;
      top: 15px;
      width: 30px;

      i {
        color: #328fc2;
        font-family: $font-awesome;
        font-size: 28px;
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .overlay {
    .login-modal {
      width: 310px;

      .login-container h2 {
        font-size: 21px;
      }
    }
  }
}
