.active {
  display: block;
}

.inactive {
  display: none;
}

button {

  &.login {
    background-color: $purple-text;
    color: $white;
    cursor: pointer;
    font-family: $helvetica-neue-bold;
    font-size: 18px;
    margin-bottom: 35px;
    padding: 7px 0;
    width: 100%;
  }
}

.sidebar {
  width: 27.5%;

  .tab-container {

    ul.nav-tabs {
      overflow: hidden;

      li {
        background-color: $light-grey;
        float: left;
        padding: 15px 20px;

        &.inactivated {
          background-color: #F5F5F5;
        }

        &.activated {
          background-color: $green-background;
        }
      }
    }

    .tab-content {
      background-color: $light-grey;
      padding: 25px 15px 15px;
      width: 100%;

      &.news {
        display: block;

        ul {
        margin-bottom: 35px;
        }

        ul li {
          color: $grey;
          font-family: $helvetica-neue-regular;
          font-size: 16px;
          line-height: 22px;

          &:first-child {
            padding-bottom: 5px;
          }
        }

        ul li a {
          color: $blue-text;
          font-family: $helvetica-neue-bold;
          text-decoration: none;
          transition: all .3s;

          &:hover {
            color: $purple-text;
            transition: all .3s;
          }
        }
      }

      &.archive {

        a {
          color: $blue-text;
          font-family: $helvetica-neue-bold;
          line-height: 32px;
          text-decoration: none;
          transition: all .3s;

          &:hover {
            color: $purple-text;
            transition: all .3s;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .row .sidebar {
    float: none;
    margin: 0 auto;
    width: 320px;
  }
}
