$white: rgba(249, 248, 249, 1);
$black: rgba(0, 0, 0, 1);
$med-black: rgba(70, 70, 70, 1);
$grey: rgba(80, 80, 80, 1);
$light-grey: rgba(245, 245, 245, 1);
$overlay-black: rgba(0, 0, 0, .7);
$blue-text: rgba(50, 143, 194, 1);
$blue-background: rgba(100, 149, 237, 1);
$dk-blue-background: rgba(0, 104, 153, 1);
$lt-green: rgba(238, 245, 240, 1);
$dk-green: rgba(221, 235, 225, 1);
$green-background: rgba(187, 216, 196, 1);
$purple-text: rgba(101, 3, 96, 1);
$link-text: #328fc2;
