/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Helvetica-Neue-Light';
  src: url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.svg") format("svg");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.eot");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.woff") format("woff"), url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.woff2") format("woff2"), url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue-Regular';
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuelt.svg") format("svg");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuelt.eot");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuelt.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Helvetica-Neue/helveticaneuelt.woff") format("woff"), url("/assets/fonts/Helvetica-Neue/helveticaneuelt.woff2") format("woff2"), url("/assets/fonts/Helvetica-Neue/helveticaneuelt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue-Bold';
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuebd.svg") format("svg");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuebd.eot");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuebd.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Helvetica-Neue/helveticaneuebd.woff") format("woff"), url("/assets/fonts/Helvetica-Neue/helveticaneuebd.woff2") format("woff2"), url("/assets/fonts/Helvetica-Neue/helveticaneuebd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("/assets/fonts/FontAwesome/fontawesome-webfont.eot") format("eot"), url("/assets/fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/assets/fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"), url("/assets/fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/assets/fonts/FontAwesome/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.font-awesome {
  font-family: FontAwesome; }

.font-helvetica-neue {
  font-family: "Helvetica-Neue-Regular"; }

.font-helvetica-neue-light {
  font-family: "Helvetica-Neue-Light"; }

.font-helvetica-neue-bold {
  font-family: "Helvetica-Neue-Bold"; }

.row {
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }
  .row .column {
    float: left; }
  .row .content {
    margin-bottom: 80px;
    width: 70%; }
  .row .sidebar {
    margin-left: 1em;
    width: 28.25%; }

@media screen and (min-width: 768px) and (max-width: 960px) {
  .row .sidebar {
    width: 27.5%; } }

header {
  background-color: cornflowerblue;
  margin-bottom: 32px;
  overflow: hidden; }

.container .logo {
  float: left; }
  .container .logo a {
    display: block;
    padding-top: 1px; }

.container nav.main-navigation {
  float: right;
  margin-right: -15px; }
  .container nav.main-navigation ul li {
    float: left;
    padding: 5px 15px;
    transition: all .3s; }
    .container nav.main-navigation ul li:hover {
      background-color: #006899;
      transition: all .3s; }
    .container nav.main-navigation ul li a {
      color: #f9f8f9;
      display: block;
      font-family: "Helvetica-Neue-Regular";
      padding: 8px 0;
      text-decoration: none; }

@media screen and (max-width: 600px) {
  .container .logo {
    float: none;
    text-align: center; }
  .container nav.main-navigation {
    float: none;
    margin: 0 auto; }
    .container nav.main-navigation ul {
      text-align: center; }
      .container nav.main-navigation ul li {
        padding: 5px 2px; } }

:root {
  font-size: 16px; }

* {
  box-sizing: border-box; }

body {
  color: #505050;
  font-family: "Helvetica-Neue-Regular"; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 15px 0; }

.page-container {
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%; }

.content h1 {
  color: #650360;
  font-family: "Helvetica-Neue-Regular";
  font-size: 36px;
  padding: 0 0 20px;
  text-align: left;
  text-transform: capitalize; }

.content h2 {
  font-size: 28px; }
  .content h2 span {
    border-right: 1px solid #505050;
    font-family: "Helvetica-Neue-Light";
    margin-right: 10px;
    padding: 10px; }

.content h3 {
  font-family: "Helvetica-Neue-Bold";
  font-size: 14px;
  padding: 15px 0; }

.content p {
  color: #464646;
  font-family: "Helvetica-Neue-Regular";
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  padding: 10px 0; }

.content ul {
  list-style: disc;
  padding-left: 15px; }
  .content ul li {
    padding: 5px 0; }
    .content ul li a {
      color: #505050;
      text-decoration: none; }

@media screen and (min-width: 300px) and (max-width: 768px) {
  .row .content {
    padding: 0 10px;
    width: 100%; }
    .row .content h1, .row .content h2 {
      text-align: center; } }

.content .callout {
  background-color: #bbd8c4;
  margin-bottom: 40px;
  margin-top: 35px;
  padding: 15px;
  position: relative;
  width: 100%; }
  .content .callout h3 {
    color: #650360;
    padding: 5px 0 0; }
  .content .callout .callout-copy {
    width: 80%; }
  .content .callout .callout-img {
    position: absolute;
    right: 20px;
    top: -80px; }

@media screen and (min-width: 300px) and (max-width: 550px) {
  .content .callout .callout-copy {
    padding-top: 0;
    width: 50%; }
  .content .callout .callout-img {
    top: 14px; } }

.active {
  display: block; }

.inactive {
  display: none; }

button.login {
  background-color: #650360;
  color: #f9f8f9;
  cursor: pointer;
  font-family: "Helvetica-Neue-Bold";
  font-size: 18px;
  margin-bottom: 35px;
  padding: 7px 0;
  width: 100%; }

.sidebar {
  width: 27.5%; }
  .sidebar .tab-container ul.nav-tabs {
    overflow: hidden; }
    .sidebar .tab-container ul.nav-tabs li {
      background-color: whitesmoke;
      float: left;
      padding: 15px 20px; }
      .sidebar .tab-container ul.nav-tabs li.inactivated {
        background-color: #F5F5F5; }
      .sidebar .tab-container ul.nav-tabs li.activated {
        background-color: #bbd8c4; }
  .sidebar .tab-container .tab-content {
    background-color: whitesmoke;
    padding: 25px 15px 15px;
    width: 100%; }
    .sidebar .tab-container .tab-content.news {
      display: block; }
      .sidebar .tab-container .tab-content.news ul {
        margin-bottom: 35px; }
      .sidebar .tab-container .tab-content.news ul li {
        color: #505050;
        font-family: "Helvetica-Neue-Regular";
        font-size: 16px;
        line-height: 22px; }
        .sidebar .tab-container .tab-content.news ul li:first-child {
          padding-bottom: 5px; }
      .sidebar .tab-container .tab-content.news ul li a {
        color: #328fc2;
        font-family: "Helvetica-Neue-Bold";
        text-decoration: none;
        transition: all .3s; }
        .sidebar .tab-container .tab-content.news ul li a:hover {
          color: #650360;
          transition: all .3s; }
    .sidebar .tab-container .tab-content.archive a {
      color: #328fc2;
      font-family: "Helvetica-Neue-Bold";
      line-height: 32px;
      text-decoration: none;
      transition: all .3s; }
      .sidebar .tab-container .tab-content.archive a:hover {
        color: #650360;
        transition: all .3s; }

@media screen and (min-width: 300px) and (max-width: 768px) {
  .row .sidebar {
    float: none;
    margin: 0 auto;
    width: 320px; } }

.table-heading {
  font-family: "Helvetica-Neue-Light";
  font-size: 12px;
  margin-top: 35px;
  text-align: right; }
  .table-heading span {
    display: inline-block;
    padding-bottom: 10px; }
    .table-heading span.bank-name {
      width: 50%; }
    .table-heading span.bank-apy {
      text-align: center;
      width: 24%; }
    .table-heading span.bank-earnings {
      text-align: right;
      width: 24%; }

.bank-data-table {
  background-color: #eef5f0;
  width: 100%; }
  .bank-data-table .table-row {
    padding: 15px; }
    .bank-data-table .table-row span {
      display: inline-block; }
      .bank-data-table .table-row span.bank-name {
        width: 61%; }
      .bank-data-table .table-row span.bank-apy {
        width: 19.5%; }
      .bank-data-table .table-row span.bank-earnings {
        text-align: right;
        width: 19.5%; }
    .bank-data-table .table-row:first-child {
      font-family: "Helvetica-Neue-Bold"; }
    .bank-data-table .table-row:nth-child(even) {
      background-color: #ddebe1; }

.table-footer {
  text-align: right; }
  .table-footer span.disclaimer {
    display: inline-block;
    font-family: "Helvetica-Neue-Light";
    font-size: 12px;
    padding-top: 10px; }

@media screen and (min-width: 300px) and (max-width: 768px) {
  .table-heading span.bank-name {
    width: 35%; } }

@media screen and (min-width: 300px) and (max-width: 480px) {
  .bank-data-table .table-row {
    font-size: 13px; } }

footer {
  background-color: #e7e8e9;
  color: #328fc2;
  overflow: hidden;
  padding-bottom: 50px;
  padding-top: 20px;
  width: 100%; }
  footer .container {
    overflow: hidden; }
    footer .container nav.main-navigation.footer ul li a {
      color: #328fc2;
      padding: 0;
      transition: all .3s; }
      footer .container nav.main-navigation.footer ul li a:hover {
        color: #650360;
        transition: all .3s; }
    footer .container nav.main-navigation.footer ul li:hover {
      background-color: transparent; }
  footer .copyright-disclosure {
    float: left;
    text-align: left;
    width: 50%; }

@media screen and (min-width: 300px) and (max-width: 768px) {
  footer .copyright-disclosure {
    float: none;
    margin-top: 20px;
    text-align: center;
    width: 100%; }
  footer nav.main-navigation.footer {
    float: none;
    margin: 0 auto;
    width: 320px; }
    footer nav.main-navigation.footer ul li {
      padding: 4px; } }

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  .overlay .login-modal {
    background-color: #f9f8f9;
    border: 1px solid #464646;
    color: #464646;
    left: 0;
    margin: 0 auto;
    width: 447px;
    padding: 30px;
    position: fixed;
    right: 0;
    top: 120px;
    z-index: 3; }
    .overlay .login-modal .login-container h2 {
      font-family: "Helvetica-Neue-Light";
      font-size: 28px;
      padding: 15px 0 30px; }
    .overlay .login-modal a.close-modal {
      cursor: pointer;
      height: 30px;
      position: absolute;
      right: 20px;
      top: 15px;
      width: 30px; }
      .overlay .login-modal a.close-modal i {
        color: #328fc2;
        font-family: FontAwesome;
        font-size: 28px; }

@media screen and (min-width: 300px) and (max-width: 480px) {
  .overlay .login-modal {
    width: 310px; }
    .overlay .login-modal .login-container h2 {
      font-size: 21px; } }

form p {
  padding: 10px 0;
  text-align: right; }

form label {
  display: inline-block;
  font-family: "Helvetica-Neue-Bold";
  font-size: 14px;
  padding-right: 20px;
  text-align: left; }

form input {
  font-family: "Helvetica-Neue-Bold";
  font-size: 14px; }
  form input[type='text'], form input[type='password'] {
    background-color: #f9f8f9;
    border: 1px solid #328fc2;
    padding: .75rem;
    width: 77%; }
  form input[type='submit'] {
    background-color: #650360;
    color: #f9f8f9;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    padding: .75rem .95rem;
    width: 140px; }

@media screen and (min-width: 300px) and (max-width: 480px) {
  form p {
    text-align: left; }
  form label {
    padding-bottom: 5px; }
  form input[type='text'], form input[type='password'] {
    width: 100%; } }

.mobile-menu-button span i {
  color: whitesmoke;
  display: none;
  font-size: 32px; }

nav.main-navigation {
  display: block; }

@media screen and (min-width: 300px) and (max-width: 600px) {
  .mobile-menu-button span i {
    display: block;
    margin: 10px;
    text-align: center; }
  header .container nav.main-navigation {
    background-color: #f9f8f9;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    display: none;
    padding: 15px 0;
    position: absolute;
    width: 100%; }
    header .container nav.main-navigation ul li {
      background-color: #f9f8f9;
      float: none;
      width: 100%; }
      header .container nav.main-navigation ul li:hover {
        background-color: cornflowerblue; }
      header .container nav.main-navigation ul li a {
        color: black;
        padding-left: 15px;
        text-align: left; }
        header .container nav.main-navigation ul li a:hover {
          color: #f9f8f9; } }
