/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Helvetica-Neue-Light';
  src: url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.svg") format("svg");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.eot");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.woff") format("woff"), url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.woff2") format("woff2"), url("/assets/fonts/Helvetica-Neue/helveticaneue-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue-Regular';
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuelt.svg") format("svg");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuelt.eot");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuelt.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Helvetica-Neue/helveticaneuelt.woff") format("woff"), url("/assets/fonts/Helvetica-Neue/helveticaneuelt.woff2") format("woff2"), url("/assets/fonts/Helvetica-Neue/helveticaneuelt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Neue-Bold';
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuebd.svg") format("svg");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuebd.eot");
  src: url("/assets/fonts/Helvetica-Neue/helveticaneuebd.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Helvetica-Neue/helveticaneuebd.woff") format("woff"), url("/assets/fonts/Helvetica-Neue/helveticaneuebd.woff2") format("woff2"), url("/assets/fonts/Helvetica-Neue/helveticaneuebd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("/assets/fonts/FontAwesome/fontawesome-webfont.eot") format("eot"), url("/assets/fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("/assets/fonts/FontAwesome/fontawesome-webfont.woff2") format("woff2"), url("/assets/fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("/assets/fonts/FontAwesome/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.font-awesome {
  font-family: FontAwesome; }

.font-helvetica-neue {
  font-family: "Helvetica-Neue-Regular"; }

.font-helvetica-neue-light {
  font-family: "Helvetica-Neue-Light"; }

.font-helvetica-neue-bold {
  font-family: "Helvetica-Neue-Bold"; }

.row {
  margin: 0;
  padding: 0;
  width: 100%; }
  .row .column {
    float: left; }
  .row .content {
    margin-bottom: 80px;
    width: 70%; }
  .row .sidebar {
    margin-left: 1em;
    width: 28.25%; }

header {
  background-color: cornflowerblue;
  margin-bottom: 32px;
  overflow: hidden; }

.container .logo {
  float: left; }
  .container .logo a {
    display: block;
    padding-bottom: 3px;
    padding-top: 1px; }

.container nav.main-navigation {
  float: right;
  margin-right: -15px; }
  .container nav.main-navigation ul li {
    float: left;
    padding: 5px 15px;
    transition: all .3s; }
    .container nav.main-navigation ul li:hover {
      background-color: #006899;
      transition: all .3s; }
    .container nav.main-navigation ul li a {
      color: #f9f8f9;
      display: block;
      font-family: "Helvetica-Neue-Regular";
      padding: 8px 0 5px;
      text-decoration: none; }

:root {
  font-size: 16px; }

* {
  box-sizing: border-box; }

body {
  color: #505050;
  font-family: "Helvetica-Neue-Regular"; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 15px 0; }

.page-container {
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%; }

.content h1 {
  color: #650360;
  font-family: "Helvetica-Neue-Regular";
  font-size: 36px;
  padding: 0 0 20px;
  text-align: left;
  text-transform: capitalize; }

.content h2 {
  font-size: 28px; }
  .content h2 span {
    border-right: 1px solid #505050;
    font-family: "Helvetica-Neue-Light";
    margin-right: 10px;
    padding: 10px; }

.content h3 {
  font-family: "Helvetica-Neue-Bold";
  font-size: 14px;
  padding: 15px 0; }

.content p {
  color: #464646;
  font-family: "Helvetica-Neue-Regular";
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  padding: 10px 0; }

.content ul {
  list-style: disc;
  padding-left: 15px; }
  .content ul li {
    padding: 5px 0; }
    .content ul li a {
      color: #505050;
      text-decoration: none; }

.content .callout {
  background-color: #bbd8c4;
  margin-bottom: 40px;
  margin-top: 35px;
  padding: 15px;
  position: relative;
  width: 100%; }
  .content .callout h3 {
    color: #650360;
    padding: 5px 0 0; }
  .content .callout .callout-copy {
    width: 550px; }
  .content .callout .callout-img {
    position: absolute;
    right: 20px;
    top: -80px; }

.sidebar button.login {
  background-color: #650360;
  color: #f9f8f9;
  font-family: "Helvetica-Neue-Bold";
  font-size: 18px;
  margin-bottom: 35px;
  padding: 7px 0;
  width: 100%; }

.sidebar .tab-container ul.nav-tabs {
  overflow: hidden; }
  .sidebar .tab-container ul.nav-tabs li {
    background-color: whitesmoke;
    float: left;
    padding: 15px 20px; }
    .sidebar .tab-container ul.nav-tabs li.inactive {
      background-color: #bbd8c4; }

.sidebar .tab-container .tab-content {
  background-color: whitesmoke;
  padding: 25px 15px 15px;
  width: 100%; }
  .sidebar .tab-container .tab-content.news ul {
    margin-bottom: 35px; }
  .sidebar .tab-container .tab-content.news ul li {
    color: #505050;
    font-family: "Helvetica-Neue-Regular";
    font-size: 16px;
    line-height: 22px; }
    .sidebar .tab-container .tab-content.news ul li:first-child {
      padding-bottom: 5px; }
  .sidebar .tab-container .tab-content.news ul li a {
    color: #328fc2;
    font-family: "Helvetica-Neue-Bold";
    text-decoration: none; }
  .sidebar .tab-container .tab-content.archive a {
    color: #328fc2;
    font-family: "Helvetica-Neue-Bold";
    line-height: 26px;
    text-decoration: none; }

.bank-data-table {
  background-color: #eef5f0;
  margin-top: 35px;
  width: 100%; }
  .bank-data-table .table-row {
    padding: 15px; }
    .bank-data-table .table-row span {
      display: inline-block; }
      .bank-data-table .table-row span.bank-name {
        width: 400px; }
      .bank-data-table .table-row span.bank-apy {
        width: 120px; }
      .bank-data-table .table-row span.bank-earnings {
        text-align: right;
        width: 120px; }
    .bank-data-table .table-row:nth-child(even) {
      background-color: #ddebe1; }

footer {
  background-color: #e7e8e9;
  overflow: hidden;
  width: 100%; }
